    <div class="col-md-12 navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <h4 style="height:90%;margin-top:-1%;"><img style="height:150%;margin-top:-3%;" src="{{ "/images/kaidan.svg" | prepend: site.baseurl }}"> {{ site.title }}</h4>
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
           <li><a href="{{ "/download" | prepend: site.baseurl }}">Download</a></li>
           <li><a href="{{ "/development" | prepend: site.baseurl }}">Development</a></li>

{% comment %}
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for page in site.pages %}
              {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" style="text-transform : uppercase;">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
{% endcomment %}
        </ul>

        <ul class="nav navbar-nav navbar-right left-syms">
          <li><a href="https://fosstodon.org/@kaidan" rel="me" target="_blank"><img width=20 src="/images/mastodon.svg" /> <span>Mastodon</span></a></li>
          <li><a href="https://i.kaidan.im" target="_blank"><img width=20 src="/images/xmpp.svg" /><span>XMPP</span></a></li>
          <li><a href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
        </ul>
      </div>
    </div>
